.container_pic_ps { 
    display: flex;
    flex-direction: row;
}

.container_ps{
    display: flex;
    flex-direction: column;
    width:100;
    height: 100vh;
}

.image_self { 
    height: 650px;
}
.title { 
    font-size: 60px;
}

.statment { 
    font-size: 20px;
    width: 100;
}

.container_about_me{
    display: grid;
    gap: 3rem;

}

.container_Christianity{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;

}
.title_about_me { 
    font-size: 70px;
}

.statment_paragraph{ 
    font-size: 20px;
}

.img_about_me {
    width: 450px;
    grid-row: span 2;
}

.container_hobbies{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_life_goals{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.container_education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;


}

.image_qub {
    height: 450px;
    grid-row: span 2;
}

.grades_ba{
    font-size: 20px;
}

